*{
    font-family: 'Nunito Sans', sans-serif; 
}

body{
    min-height: 100vh;
    background-color: #526D82;
    display: grid;
    place-items: center;
}

.calculadora{
    background-color: #DDE6ED;
    color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 400px;
    padding: 1.3rem;
    border-radius: 1rem;
    gap: 0.5rem;

}


.pantalla{ 
    grid-column: 1/ -1; 
    background-color: #9DB2BF;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}


